* {
    font-family: Arial;
    color: #202020;
}

.button {
    border: 1px solid #C0C0C0;
    background-color: #eee;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
    color: #202020;
}

.error_message {
    color: red;
    font-weight: bold;
    text-align: center;
}

table {
    margin: 2% 4%;
    width: 92%;
    border-collapse: collapse;
}